<div id="index">
  <h1> Enter player names </h1>
  <form id="form" action="/names" method="post">
    <input type="text" name="player1" placeholder="player1" required="true">
    <input type="text" name="player2" placeholder="players" required="true">
    <input type="submit" value="submit">
  </form>
</div>
