<% if @player1.hp <= 0 || @player2.hp  <= 0 %>
  <strong><%= @current_player.name %></strong> lost
<% else %>
  <strong><%= @current_player.name %></strong> is poisoned
<% end %>
<a href="/play"><button>back</button></a>
